<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet" />
    <title><%= title%></title>
  </head>
  <body>
    <div class="bg-gray-300 text-white px-2 py-2 rounded font-mediium">
      <%- include("header.ejs",{login})%>
      <h1 class="ml-5 font-bold text-3xl">/<a href="/">Home</a>/<a href="/signup" class="text-yellow-600">SignUp</a></h1>
    </div>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <h6 class="py-6 text-3xl font-bold">Signup as a new User</h6>
        <form action="/admins" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
          <div class="py-3">
            <label for="firstName">First Name :</label>
            <input
              type="text"
              name="firstName"
              class="border-gray-300 text-gray-600 rounded p-2 w-full"
              required
            />
          </div>
          <div class="py-3">
            <label for="lastName">Last Name :</label
            ><input
              type="text"
              name="lastName"
              class="border-gray-300 text-gray-600 rounded p-2 w-full"
              required
            />
          </div>
          <div class="py-3">
            <label for="email">Email :</label>
            <input
              type="email"
              name="email"
              class="border-gray-300 text-gray-600 rounded p-2 w-full"
              required
            />
          </div>
          <div class="py-3">
            <label for="password">Password :</label>
            <input
              type="password"
              name="password"
              class="border-gray-300 text-gray-600 rounded p-2 w-full"
              required
            />
          </div>
          <div class="py-3">
            <button
              class="text-white bg-green-600 hover:bg-green-800 rounded px-2 py-3"
              type="submit"
            >
              Sign up
            </button>
          </div>
        </form>
        <ul class="bg-gray-200 mt-2 w-fit rounded">
          <% if(messages && messages.error && messages.error.length > 0)  { %>
            <li class="bg-gray-300 text-red-700 font-extrabold text-3xl">Error..!</li>
            <% for(var i=0; i<messages.error.length; i++) { %>
              <li class="text-black-600 font-bold text-2xl"> <%= messages.error[i] %></li>
            <% } %>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
